extends layout

block head
    link(rel='stylesheet', href='/stylesheets/form.css')

block content
    div.formContainer
        h3.title User Sign In
        div.formWrap
            form(method="POST")
                div 
                    label(for='email' class= inputErrors && inputErrors.email ? 'error' : "") Email
                        input#email(
                            type="text" 
                            name="email" 
                            value='admin@gmail.com'
                            title="The email is required and must be standard format." 
                            required
                        )
                        //-   value != user ? user.email : '' 
                    div.placeholder
                        span.icon.alert
                        p= inputErrors && inputErrors.email ? inputErrors.email.msg : "Message placeholder"
                div 
                    label(for='password' class= inputErrors && inputErrors.password ? 'error' : "") Password
                        input#password(
                            type="password" 
                            name="password" 
                            value='1!Qwerty'
                            title="The password is required." 
                            required
                        )
                        //-  value != user ? user.password : '' 
                    div.placeholder
                        span.icon.alert
                        p= inputErrors && inputErrors.password  ? inputErrors.password.msg : "Message placeholder"
                button(class= loading ? btnLoading : "" type="submit")
                    span.text Login
                        span.icon.loadIcon
            div.linkWrap
                p New to HeLog?
                a(href=`/account/register?state=${state}&code_challenge=${code_challenge}&code_challenge_method=${code_challenge_method}&scope=${scope}&darkTheme=${darkTheme}`) Create an account