extends layout

block head
    link(rel='stylesheet', href='/stylesheets/form.css')

block content
    div.formContainer
        h3.title User Register
        div.formWrap
            form(method="POST")
                input(name="csrfToken"  type="hidden" value= csrfToken)
                div 
                    label(for='name' class= inputErrors && inputErrors.name ? 'error' : "") Name
                        input#name(
                            type="text" 
                            name="name" 
                            value='Admin'
                            title="The name must be less than 30 long." 
                            required
                        )
                        //- value != user ? user.name : '' 
                    div.placeholder
                        span.icon.alert
                        p= inputErrors && inputErrors.name ? inputErrors.name.msg  : "Message placeholder"
                div 
                    label(for='email' class= inputErrors && inputErrors.email ? 'error' : "") Email
                        input#email(
                            type="text" 
                            name="email" 
                            value='admin@gmail.com'
                            title="The email is required and must be standard format." 
                            required
                        )
                        //-  value != user ? user.email : '' 
                    div.placeholder
                        span.icon.alert
                        p= inputErrors && inputErrors.email ? inputErrors.email.msg : "Message placeholder"
                div 
                    label(for='password' class= inputErrors && inputErrors.password ? 'error' : "") Password
                        input#password(
                            type="password" 
                            name="password" 
                            value='1!Qwerty'
                            title="The password is required." 
                            required
                        )
                        //-  value != user ? user.password : '' 
                    div.placeholder
                        span.icon.alert
                        p= inputErrors && inputErrors.password  ? inputErrors.password.msg : "Message placeholder"
                div 
                    label(for='confirmPassword' class= inputErrors && inputErrors.confirmPassword ? 'error' : "") Confirm Password
                        input#confirmPassword(
                            type="password" 
                            name="confirmPassword" 
                            value='1!Qwerty'
                            title="The confirm password must be the same as the password." 
                            required
                        )
                        //- value != user ? user.confirmPassword : '' 
                    div.placeholder
                        span.icon.alert
                        p= inputErrors && inputErrors.confirmPassword  ? inputErrors.confirmPassword.msg : "Message placeholder"
                button(type="submit")
                    span.text  Register
                        span.icon.loadIcon
            div.linkWrap
                p Already have an account?
                a(href=`/account/login?state=${state}&code_challenge=${code_challenge}&code_challenge_method=${code_challenge_method}&redirect_url=${redirect_url}&darkTheme=${darkTheme}`) Login in